* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
	font-family: sans-serif;
	background: rgb(9, 133, 157);;
}
header {
	margin-top: 3%;
}
.header-text {
	line-height: 1.5rem;
}
.header-text p:first-child {
	text-align: center;
}
header img {
	width: 100%;
	max-width: 100%;
}
ul {
	margin-left: 3rem;
}
.wrap {
	width: 98%;
	max-width: 98%;
	background: #fff;
	margin-left: 1%;
}
.container {
	width: 1200px;
	max-width: 80%;
	margin: 0 auto;
	background: rgb(255, 255, 255);
}
.container-large {
	width: 1380px;
	max-width: 90%;
	margin: 0 auto;
	background: rgb(255, 255, 255);
}
.services {
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between;
}
.product-card {
	width: 47%;
	max-width: 100%;
	margin-top: 5%;
}
.product-card img {
	width: 100%;
	max-width: 100%;
}
.product-card p {
	width: 100%;
	max-width: 100%;
}
.btn {
	width: 100%;
	max-width: 100%;
	background: rgb(240, 71, 54);
	min-height: 39px;
	border-radius: 5px;
	text-align: center;
	line-height: 3rem;
	margin-top: 1rem;
	color: #fff;

}
p {
	width: 100%;
	max-width: 100%;
	margin-top: 1rem;
}
.text-bottom {
	margin-top: 2rem;
}
footer {
	margin-top: 5%;
	width: 100%;
	max-width: 100%;
	min-height: 8rem;
	background: rgb(9, 133, 157);
	margin-bottom: 2%;
}
.space {
	margin-top: 4%;
	min-height: 3rem;
	background: #fff;
}
.social {
	min-height: 5rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.social img {
	width: 4%;
	height: 4%;
	margin-left: 1%;
}
.footer-text {
	text-align: center;
	font-size: 0.8rem;
	color: #fff;
}
.last-text a {
	color: #fff;
}

@media all and (max-width: 799px) {
	html {
		font-size: 1.3rem;
	}
	.product-card {
		width: 100%;
		flex-direction: column;
		margin-top: 2rem;
	}
	.container-large {
		max-width: 100%;
		width: 100%;
	}
	.space {
		background: rgb(9, 133, 157);
	}
	.social img {
		width: 8%;
		height: 8%;
	}
	ul {
		margin-left: 2rem;
	}
}

@media all and (max-width: 420px) {
	
	html {
		font-size: 1.2rem;
	}
	.social img {
		width: 12%;
		height: 12%;
	}
	.product-card {
		margin-top: 2.5rem;
	}
	ul {
		margin-left: 1rem;
	}
	footer {
		margin-top: 4rem;
	}
}